black==24.8.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
idna==3.7
mypy==1.11.1
mypy-extensions==1.0.0
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.2.2
pulp==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uv==0.3.0
